<h1>Listing Ads</h1>
<%= link_to 'New ads', new_ad_path %>

<table>
  <tr>
    <th>budget</th>
    <th colspan="3"></th>
  </tr>
 
  <% @ads.each do |ad| %>
    <tr>
      <td><%= ad.budget %></td>
      <td><%= link_to 'Show', ad_path(ad) %></td>
      <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
      <td><%= link_to 'Destroy', ad_path(ad),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
  <%= will_paginate @ads %>


