<%= form_for([@ad, @ad.targetings.build]) do |f| %>
  <p>
    <%= f.label :genero %><br>
    <%= f.select(:genero, options_for_select(@generos.collect { |s| [s[0].humanize, s[0]] }), {} ) %>
  </p>
  <%= f.fields_for :places do |u| %>
      <p>
        <%= u.label :address %><br>
        <%= u.text_field :address %>
      </p>
    <% end %>
  
  
  <p>
    <%= f.submit %>
  </p>
<% end %>