<%= form_for([@ad, @ad.creatives.build]) do |f| %>

  <p>
    <%= f.label :adText %><br>
    <%= f.text_field :adText %>
  </p>
 
  <p>
    <%= f.label :bid %><br>
    <%= f.number_field( :bid,  min: 1.0, step: 0.05) %>
  </p>
  
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
  
