<h1>Listing Creatives</h1>
<%= link_to 'New Creative', new_creative_path %>

<table>
  <tr>
    <th>AdText</th>
    <th>Bid</th>
    <th colspan="3"></th>
  </tr>
 
  <% @creatives.each do |creative| %>
    <tr>
      <td><%= creative.adText %></td>
      <td><%= creative.bid %></td>
      <td><%= link_to 'Show', creative_path(creative) %></td>
      <td><%= link_to 'Edit', edit_creative_path(creative) %></td>
      <td><%= link_to 'Destroy', creative_path(creative),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

